<%- include("../partials/header") %> 

<h1>Stories</h1>
<div class="row">
    <% if (stories.length !== 0) { %>
        <% stories.forEach(story => { %> 
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <!-- Need to convert story user ID since it is an object and userID is a string -->
                        <% if (String(story.user._id) === userId) { %>
                             <a href="/stories/edit/<% story._id %> " class="btn-floating halfway-fab blue"><i class="fas fa-edit fa-small"></i></a>
                        <% } %> 

                    </div>
                    <div class="card-content center-align">
                        <h5><%= story.title %> </h5>
                        <p><%= story.body.substring(3,100) %> ... </p>
                        <br>
                        <div class="chip">
                            <img src=<%= story.user.image %> alt="">
                            <a href="/stories/user/<%= story.user._id %>"><%= story.user.displayName %> </a>
                        </div>
                    </div>
                    <div class="card-action center-align">
                        <a href="/stories/<%= story._id %> " class="btn grey">Read More</a>
                    </div>
                </div>
            </div>
        <% }) %> 
     <% } else { %> 
        <p>No stories to display</p>
    <% } %> 
</div>

<%- include("../partials/add_button") %> 
<%- include("../partials/footer") %> 